<ion-header>

  <ion-navbar color="green">
    <button ion-button menuToggle>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Search job in list"></ion-searchbar>
  <!-- <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <p>{{item.price}}</p>
      <ion-note item-end >{{item. workplace}}</ion-note>
    </button>
  </ion-list> -->
  <ion-list class="padding list-master">
    <ion-item-sliding *ngFor="let item of currentItems" class="item-master">
      <div ion-item>
        <div class="item-header">
          <img src="assets/img/ian-avatar.png" class="avatar" *ngIf="!item.avatar" />
          <img src="{{item.avatar}}" class="avatar" *ngIf="item.avatar" />
          <h2 class="user">{{item.postBy}}</h2>
          <p class="time">
            <img src="assets/img/clock.png"> {{item.timeFrom}} - {{item.timeTo}}</p>
          <p class="time">
            <img src="assets/img/calendar.png"> {{item.date}}</p>
        </div>
        <p class="price" *ngIf="item.price">{{item.price | number}}đ</p>
        <div class="information">
          <p>
            <span class="text-primary">Adress: </span>{{item.workplace}}</p>
          <p>
            <span class="text-primary">Job: </span>{{item.title}}</p>
        </div>
        <div class="item-toolbar">
          <button ion-button outline color="green" *ngIf="item.price">
            No. selected: {{item.count}}
          </button>
          <button ion-button outline color="green" (click)="selectJobSearch(item.key, item.count)" *ngIf="!item.selected">Select</button>
          <button ion-button outline color="green" (click)="unSelectJob(item.key, item.count)" *ngIf="item.selected">Unselect</button>
          <button ion-button outline color="green" (click)="openItem(item.key)">View More</button>
        </div>
        <!-- <p>Upload by{{}} at {{}}</p> -->
      </div>
    </ion-item-sliding>
  </ion-list>
  <!-- <ion-list>
  <ion-item>
    <ion-label>Province</ion-label>
    <ion-select [(ngModel)]="province" (ionChange)="selectProvince(province)">
      <ion-option value="{{province.provinceid}}" *ngFor="let province of provinces">{{province.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>District</ion-label>
    <ion-select [(ngModel)]="district">
      <ion-option value="{{district.districtid}}" *ngFor="let district of districts">{{district.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>From</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>To</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>
</ion-list> -->
</ion-content>